body{
    background-image: url(./img/fundo_cep.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    


}
fieldset{
    width: 300px;

    margin-top: 200px;

    border-radius: 5px;

    background-color: azure;
    opacity: 0.8;
}