body{
    background-image: url(./fundo_index.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
header{
    text-align: center;

    padding: 20px;

    font-size: larger;
}
